[user]
	name = Dmitrijs Latnikovs
	email = latnikov@gmail.com
[init]
	defaultBranch = main
[core]
	pager = $HOME/.config/delta/delta.sh
[interactive]
	diffFilter = $HOME/.config/delta/delta.sh --color-only
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
[diff]
	colorMoved = default
