/* Nord */
@define-color background #2e3440;
@define-color foreground #d8dee9;
@define-color muted      #4c566a;
@define-color urgent     #bf616a;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

.modules-left  { margin-left: 8px; }
.modules-right { margin-right: 8px; }

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
    color: @foreground;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}

#workspaces button.empty  { color: @muted; }
#workspaces button.active { font-weight: bold; border-bottom: 2px solid @foreground; }
#workspaces button.urgent { color: @urgent; }

#tray, #network, #cpu, #battery {
    margin: 0 7.5px;
    min-width: 12px;
}

#battery.warning  { color: #ebcb8b; }
#battery.critical { color: @urgent; }

tooltip {
    background-color: @background;
    border: 1px solid @muted;
}
